# Copie este arquivo para ../.env somente no ambiente local.
POSTGRES_DB=resolveai
POSTGRES_USER=resolveai
POSTGRES_PASSWORD=troque-esta-senha-local
POSTGRES_PORT=5432

SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:postgresql://localhost:5432/resolveai
DB_USERNAME=resolveai
DB_PASSWORD=troque-esta-senha-local
CORS_ALLOWED_ORIGINS=http://localhost:4200
JWT_SECRET=troque-esta-chave
JWT_EXPIRATION=PT2H
